@model CleanArchitecture.Application.ViewModels.SaveNguoiDung

@{
    ViewData["Title"] = "NguoiDung";
}

<h1>Edit</h1>

<h4>Người Dùng</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="MatKhau" />
            <div class="form-group">
                <label asp-for="TenNguoiDung" class="control-label"></label>
                <input asp-for="TenNguoiDung" class="form-control" readonly/>
                <span asp-validation-for="TenNguoiDung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaiKhoan" class="control-label"></label>
                <input asp-for="TaiKhoan" class="form-control" readonly/>
                <span asp-validation-for="TaiKhoan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayTao" class="control-label"></label>
                <input asp-for="NgayTao" class="form-control" readonly/>
                <span asp-validation-for="NgayTao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoDienThoai" class="control-label"></label>
                <input asp-for="SoDienThoai" class="form-control" readonly/>
                <span asp-validation-for="SoDienThoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gmail" class="control-label"></label>
                <input asp-for="Gmail" class="form-control" readonly/>
                <span asp-validation-for="Gmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VaiTro" class="control-label"></label>
                <select asp-for="VaiTro" class="form-control">
                    <option value="NguoiDungThuong">NguoiDungThuong</option>
                    <option value="NguoiQuanTri">NguoiQuanTri</option>
                </select>
                <span asp-validation-for="VaiTro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
