
@{
    ViewData["Title"] = "Login";
}

<h1>Log in</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post" novalidate="novalidate">
                <h4>Use a local account to log in.</h4>
                <hr>
                <div class="text-danger validation-summary-valid" data-valmsg-summary="true">
                    <ul>
                        <li style="display:none"></li>
                    </ul>
                </div>
                <div class="form-group">
                    <label for="Input_Email">Email</label>
                    <input class="form-control" type="email" data-val="true" data-val-email="The Email field is not a valid e-mail address." data-val-required="The Email field is required." id="Input_Email" name="Input.Email" value="">
                    <span class="text-danger field-validation-valid" data-valmsg-for="Input.Email" data-valmsg-replace="true"></span>
                </div>
                <div class="form-group">
                    <label for="Input_Password">Password</label>
                    <input class="form-control" type="password" data-val="true" data-val-required="The Password field is required." id="Input_Password" name="Input.Password">
                    <span class="text-danger field-validation-valid" data-valmsg-for="Input.Password" data-valmsg-replace="true"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label for="Input_RememberMe">
                            <input type="checkbox" data-val="true" data-val-required="The Remember me? field is required." id="Input_RememberMe" name="Input.RememberMe" value="true">
                            Remember me?
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button id="login-submit" type="submit" class="btn btn-primary">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" href="https://localhost:44315/Identity/Account/ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a href="https://localhost:44315/Identity/Account/Register?returnUrl=%2F">Register as a new user</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>