@model CleanArchitecture.Application.ViewModels.CauHoiDTO

@{
    ViewData["Title"] = "CreateCauHoi";
}

<h1>CreateCauHoi</h1>

<h4>CauHoi</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateCauHoi">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CauHoi1" class="control-label"></label>
                <input asp-for="CauHoi1" class="form-control" />
                <span asp-validation-for="CauHoi1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DapAnA" class="control-label"></label>
                <input asp-for="DapAnA" class="form-control" />
                <span asp-validation-for="DapAnA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DapAnB" class="control-label"></label>
                <input asp-for="DapAnB" class="form-control" />
                <span asp-validation-for="DapAnB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DapAnC" class="control-label"></label>
                <input asp-for="DapAnC" class="form-control" />
                <span asp-validation-for="DapAnC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DapAnD" class="control-label"></label>
                <input asp-for="DapAnD" class="form-control" />
                <span asp-validation-for="DapAnD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DapAnDung" class="control-label"></label>
                <input asp-for="DapAnDung" class="form-control" />
                <span asp-validation-for="DapAnDung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GoiY" class="control-label"></label>
                <input asp-for="GoiY" class="form-control" />
                <span asp-validation-for="GoiY" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
