@model CleanArchitecture.Application.ViewModels.CauHoiDTO

@{
    ViewData["Title"] = "EditCauHoi";
}

<h1>Edit</h1>

<h4>Câu Hỏi</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditCauHoi">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="IdbaiKiemTra" />
            <div class="form-group">
                <label asp-for="CauHoi1" class="control-label"></label>
                <input asp-for="CauHoi1" class="form-control" />
                <span asp-validation-for="CauHoi1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DapAnA" class="control-label"></label>
                <input asp-for="DapAnA" class="form-control" />
                <span asp-validation-for="DapAnA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DapAnB" class="control-label"></label>
                <input asp-for="DapAnB" class="form-control" />
                <span asp-validation-for="DapAnB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DapAnC" class="control-label"></label>
                <input asp-for="DapAnC" class="form-control" />
                <span asp-validation-for="DapAnC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DapAnD" class="control-label"></label>
                <input asp-for="DapAnD" class="form-control" />
                <span asp-validation-for="DapAnD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DapAnDung" class="control-label"></label>
                <select asp-for="DapAnDung" class="form-control">
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                </select>
                <span asp-validation-for="DapAnDung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GoiY" class="control-label"></label>
                <input asp-for="GoiY" class="form-control" />
                <span asp-validation-for="GoiY" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-route-id="@Model.IdbaiKiemTraNavigation.IdbaiHoc">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
